md-content.chat-controller.ng-cloak(flex, layout, layaout-padding, md-swipe-left="chat.close()")
  md-sidenav.md-sidenav-left.md-whiteframe-z2.side-nav(md-component-id="sideNav", md-is-locked-open="$mdMedia('gt-md')", x-scrollbar)
    md-toolbar.profile.anim-slide-right
      md-menu.flex.md-layout
        md-button.btn-profile(aria-label="profile", ng-click="chat.openProfileMenu($mdOpenMenu, $event)", layout)
          img.md-avatar(ng-src="{{chat.user.profileImageURL}}")
          span {{chat.user.displayName}}
          span.flex
          md-icon.material-icons expand_more
        md-menu-content(width="4")
          md-menu-item
            md-button
              md-icon home
              | ホーム
          md-menu-item
            md-button
              md-icon accessibility
              | プロフィール
          md-divider
          md-menu-item
            md-button
              md-icon settings
              | チーム設定
          md-menu-item
            md-button
              md-icon redeem
              | 招待
          md-menu-item
            md-button
              md-icon power
              | サービス連携
          md-divider
          md-menu-item
            md-button(ng-click="chat.logout()")
              md-icon exit_to_app
              | ログアウト
    md-content.anim-slide-right(layout="column", flex, x-scrollbar)
      md-subheader
        .md-layout.flex
          span.header-text チャンネル
          span.flex
          md-button.md-icon-button.md-accent(aria-label="channelAdd", ng-click="chat.openCreateChannelDialog($event)")
            md-icon.add-channel add_circle_outline
      ul.nav-menu
        li(layout, ng-repeat="channel in chat.channels")
          md-button.flex(ui-sref="chat.channel({channelName: channel.name})", ng-click="chat.close()", ui-sref-active="md-primary")
            span.channel-prefix #
            {{channel.name}}
      md-subheader
        .md-layout.flex
          span.header-text ユーザー
          span.flex
          md-button.md-icon-button.md-accent(aria-label="directAdd", ng-click="chat.openDialogNewChannel($event)")
            md-icon.add-channel add_circle_outline
      ul.nav-menu
        li(layout, ng-repeat="user in chat.users | filter:{$id: '!'+chat.user.$id}")
          md-button.flex(ng-click="chat.close()", ui-sref-active="md-primary", ng-class="{'no-logged-in': !user.loggedIn}")
            img.md-avatar(ng-src="{{user.profileImageURL}}")
            {{user.displayName}}
  ui-view.flex.channel-view(layout="column", md-swipe-right="chat.openSideNav()", autoscroll="true")
