.chat-controller
  background-color #fefefe
  overflow hidden
  md-toolbar.profile
    background-color #26C6DA
    md-menu
      display flex
      margin 0
    .btn-profile
      color #fff
      font-weight bold;
      flex: 1;
      text-align: left;
      margin: 0;
      padding: 6px 14px;
      img
        width 40px
        height 40px
        vertical-align: middle
        margin-right 8px
        border-radius 50%
      span
        letter-spacing: 0.1em
  md-content
    color rgba(255,255,255,0.87)
    padding 0
    color inherit
    background-color inherit
    .md-subheader
      padding-top 4px
      margin 0
      color inherit
      .md-subheader-inner
        padding: 8px 0 8px 16px
      .header-text
        vertical-align middle
        margin auto
        font-weight bold
      .md-icon-button
        position absolute
        right 5px
        top -12px
        width 36px
        height 36px
        line-height 36px
      .add-channel
        display: block;
        vertical-align: middle;
        margin-left: -2.5px;
        margin-top: -1px;