.channel-controller
  background-color #fefefe
  overflow hidden
  .channel-title
    h2
      font-size 1.5em;
    .md-toolbar-tools
      background-color #26C6DA
    .description
      margin: 0 8px;
      font-size: 0.6em;
      color: rgba(255,255,255,0.9);
  .message-container
    overflow-y auto
    overflow-x hidden
    padding-bottom 16px
    .message
      min-height 0
      line-height normal
      .md-list-item-text
        margin-bottom 0
      .text
        white-space: pre-wrap;
        margin-bottom 0
        word-wrap: break-word;
        word-break: break-word;
        margin-bottom: 8px;
        p
          color: rgba(0,0,0,0.87);
        .mention
          color rgb(245,0,87);
      .md-avatar
        margin-top 8px
        &.no-hover
          opacity 0.8
    .message:hover
      background-color rgba(0,0,0,.05)
    .md-list-item-text
      margin-top 0
      &.continue
        margin-top 8px
    .continuation
      display: block;
      height auto
      margin-top 8px !important
      .timestamp
        vertical-align: top;
        line-height: inherit;
        font-size: 12px;
    .display-name
      font-weight bold
      color rgba(0,0,0,0.87)
    .timestamp
      color: rgba(0,0,0,0.54);
      margin-left 8px
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .010em;
      line-height: 1.6em;
      cursor: pointer;
      &:hover
        text-decoration: underline;
  .channel-footer
    background-color #fff
    padding: 8px 16px 16px 16px;
    .message-form
      border-width 3px
      border-style solid
      border-color rgba(0,0,0,.18)
      border-radius 8px
      &.focus
        border-color rgb(0,188,212)
        .text-message
          border-color rgb(0,188,212)
      .md-button.launch
        min-width 36px
        margin 0
        border-radius 0
      .text-message
        font-size 1.2em
        margin-right 8px
        padding 8px
        border-width 3px
        resize none
        border-color rgba(0,0,0,.18)
        border-style none
        border-left-style solid
        &:focus
          outline none !important
  .markdown-body
    ul,ol
      line-height: 1;
  .typing-container
    height 17px
    font-size small
    color: rgba(0,0,0,0.54);
    span
      margin-right 8px
