.channel-controller
  background-color #fefefe
  overflow hidden
  .channel-title
    h2
      font-size 1.5em;
    .md-toolbar-tools
      background-color #26C6DA
    .channel-prefix
      vertical-align middle
      margin-right 4px
    .description
      margin: 0 8px;
      font-size: 0.6em;
      color: rgba(255,255,255,0.9);
